
*.Rproj
data/.DS_Store
exe/.DS_Store
*.Rmd
.Rproj.user
.Rhistory
.DS_Store
slides/.DS_Store
exe/un_A1_cache/html/__packages
*.RData
*.rdb
*.rdx
*.png
exe/un_A2_cache/html/__packages
exe/un_A2_cache/html/unnamed-chunk-2_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/cache.rds
exe/un_A2_cache/html/unnamed-chunk-2_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/file15a7b6d2f7aae.cpp
exe/un_A2_cache/html/unnamed-chunk-2_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_15a7b481f6d82/file15a7b6d2f7aae.cpp
exe/un_A2_cache/html/unnamed-chunk-2_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_15a7b481f6d82/file15a7b6d2f7aae.cpp.R
exe/un_A2_cache/html/unnamed-chunk-2_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_15a7b481f6d82/file15a7b6d2f7aae.o
exe/un_A2_cache/html/unnamed-chunk-2_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_15a7b481f6d82/sourceCpp_8.so
exe/un_A2_cache/html/unnamed-chunk-2_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/token.rds
exe/un_A2_cache/html/unnamed-chunk-3_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/cache.rds
exe/un_A2_cache/html/unnamed-chunk-3_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/file161ab2363d65e.cpp
exe/un_A2_cache/html/unnamed-chunk-3_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_161ab6f8ec778/file161ab2363d65e.cpp
exe/un_A2_cache/html/unnamed-chunk-3_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_161ab6f8ec778/file161ab2363d65e.cpp.R
exe/un_A2_cache/html/unnamed-chunk-3_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_161ab6f8ec778/file161ab2363d65e.o
exe/un_A2_cache/html/unnamed-chunk-3_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_161ab6f8ec778/sourceCpp_6.so
exe/un_A2_cache/html/unnamed-chunk-3_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/token.rds
exe/un_A2_cache/html/unnamed-chunk-4_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/cache.rds
exe/un_A2_cache/html/unnamed-chunk-4_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/file1588f164e7905.cpp
exe/un_A2_cache/html/unnamed-chunk-4_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_1588f79eb42b3/file1588f164e7905.cpp
exe/un_A2_cache/html/unnamed-chunk-4_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_1588f79eb42b3/file1588f164e7905.cpp.R
exe/un_A2_cache/html/unnamed-chunk-4_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_1588f79eb42b3/file1588f164e7905.o
exe/un_A2_cache/html/unnamed-chunk-4_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_1588f79eb42b3/sourceCpp_2.so
exe/un_A2_cache/html/unnamed-chunk-4_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/token.rds
exe/un_A2_cache/html/unnamed-chunk-5_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/cache.rds
exe/un_A2_cache/html/unnamed-chunk-5_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/file161ab2b9786fb.cpp
exe/un_A2_cache/html/unnamed-chunk-5_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_161ab691edf18/file161ab2b9786fb.cpp
exe/un_A2_cache/html/unnamed-chunk-5_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_161ab691edf18/file161ab2b9786fb.cpp.R
exe/un_A2_cache/html/unnamed-chunk-5_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_161ab691edf18/file161ab2b9786fb.o
exe/un_A2_cache/html/unnamed-chunk-5_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_161ab691edf18/sourceCpp_4.so
exe/un_A2_cache/html/unnamed-chunk-5_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/token.rds
exe/un_A2_cache/html/unnamed-chunk-6_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/cache.rds
exe/un_A2_cache/html/unnamed-chunk-6_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/file1643565677e97.cpp
exe/un_A2_cache/html/unnamed-chunk-6_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_164356da81f83/file1643565677e97.cpp
exe/un_A2_cache/html/unnamed-chunk-6_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_164356da81f83/file1643565677e97.cpp.R
exe/un_A2_cache/html/unnamed-chunk-6_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_164356da81f83/file1643565677e97.o
exe/un_A2_cache/html/unnamed-chunk-6_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/sourcecpp_164356da81f83/sourceCpp_2.so
exe/un_A2_cache/html/unnamed-chunk-6_sourceCpp/sourceCpp-x86_64-apple-darwin17.0-1.0.5/token.rds
Sfit.pdf
index.pdf
syllabus.pdf
exe/un_A1_cache/latex/__packages
exe/un_A1_files/figure-latex/unnamed-chunk-12-1.pdf
exe/un_A1_files/figure-latex/unnamed-chunk-15-1.pdf
exe/un_B1_cache/html/__packages
exe/un_B2_cache/html/__packages
exe/un_C3_cache/html/__packages
exe/dataset_74-516.csv
mala_tr.pdf
mala_tr2.pdf
circle.pdf
exe/un_D2_cache/html/__packages
*.icloud
notebook/.ipynb_checkpoints/un_A1-checkpoint.ipynb
notebook/.ipynb_checkpoints/un_A1-checkpoint.ipynb
