/*-- scss:defaults --*/
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

//@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@font-face {
    font-family: 'Latin Modern Sans';
    src: url('https://tommasorigon.github.io/fonts/lmsans-boldoblique-webfont.woff') format('woff'),
         url('https://tommasorigon.github.io/fonts/lmsans-boldoblique-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Sans';
    src: url('https://tommasorigon.github.io/fonts/lmsans-bold-webfont.woff') format('woff'),
         url('https://tommasorigon.github.io/fonts/lmsans-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Latin Modern Sans';
    src: url('https://tommasorigon.github.io/fonts/lmsans-oblique-webfont.woff') format('woff'),
         url('https://tommasorigon.github.io/fonts/lmsans-oblique-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Sans';
    src: url('https://tommasorigon.github.io/fonts/lmsans-regular-webfont.woff') format('woff'),
         url('https://tommasorigon.github.io/fonts/lmsans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Latin Modern Mono';
    src: url('https://tommasorigon.github.io/fonts/lmmono-italic-webfont.woff') format('woff'),
         url('https://tommasorigon.github.io/fonts/lmmono-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Latin Modern Mono';
    src: url('https://tommasorigon.github.io/fonts/lmmono-regular-webfont.woff') format('woff'),
         url('https://tommasorigon.github.io/fonts/lmmono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// fonts
$font-family-sans-serif: "Latin Modern Sans"; 
$presentation-font-size-root: 24px;
$presentation-font-smaller: 1;
$code-block-font-size: 1em;
$code-inline-font-size: 1em;

$presentation-heading-font: "Latin Modern Sans",  !default; 
$font-family-monospace: "Latin Modern Mono", monospace !default;

// colors
$link-color: #DF0606; 
$code-color: #DF0606;
$code-bg: #fff !default;

.styled-output .cell-output {
  display: block;             /* ensure it behaves as a block container */
}

.styled-output .cell-output pre {
  max-width: fit-content;
  margin-left: 4ch;              /* indent relative to character width */
  margin-right: 0;             /* no centering */
  font-size: 0.75em;                /* slightly smaller text */
}

/*this can make tables smaller*/
.small-table table {
  font-size: 0.85em; /* shrink font size */
}

// headings
$presentation-heading-line-height: 2.3;
$presentation-heading-color: Darkblue !default;

/*-- scss:rules --*/
ul {
  list-style-type: square;
}

ul li::before {
  color: red; /* Change the color */
}

.reveal ul {
  
  list-style-type: square;
}

.math.inline {
  font-size: 84%;
}

.math.display {
  font-size: 84%;
}

.darkred{
  color: #DF0606;
}

.orange{
   color:#FF8C00;//#fc7d0b;
   font-weight: bold;
}

.blue{
   color:#3232AA;//#1170aa;
   font-weight: bold;
}

.grey{
   color:#a3acb9;
   font-weight: bold;
}